<div class="main-content">
    <div class="container-fluid pt-3">
        <!-- Stats Cards -->
        <div class="row mb-4">
            <div class="col-md-3 mb-3">
                <div class="card shadow-sm bg-primary text-white">
                    <div class="card-body">
                        <h5 class="card-title">Total Customers</h5>
                        <p class="card-text display-4">{{ numberOfCustomers }}</p>
                        <a href="#" class="stretched-link text-white">Show Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card shadow-sm bg-success text-white">
                    <div class="card-body">
                        <h5 class="card-title">Total Sales</h5>
                        <p class="card-text display-4">{{ totalSales | currency }}</p>
                        <a href="#" class="stretched-link text-white">Show Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card shadow-sm bg-info text-white">
                    <div class="card-body">
                        <h5 class="card-title">Total Purchases</h5>
                        <p class="card-text display-4">{{ totalPurchases | currency }}</p>
                        <a href="#" class="stretched-link text-white">Show Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card shadow-sm bg-danger text-white">
                    <div class="card-body">
                        <h5 class="card-title">Vendors</h5>
                        <p class="card-text display-4">{{ numberOfVendors }}</p>
                        <a href="#" class="stretched-link text-white">Show Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-header">
                    Expired Drugs
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let drug of expiredDrugs">
                        <span>{{ drug.productName }}</span>
                        <span class="text-danger float-right">
                            Expired on: {{ drug.expiryDate | date:'mediumDate' }}
                        </span>
                    </li>
                </ul>
                <div class="card-footer">
                    <a href="#" class="btn btn-link">View All</a>
                </div>
            </div>
        </div>
    </div>
</div>
