/* Main Content */
.main-content {
  margin-left: 100px; /* Adjust according to your sidebar width */
}

/* Dashboard Stats */
.dashboard-stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/* Card Adjustment */
.dashboard-stats .card {
  flex: 0 0 auto;
  width: 24%; /* Adjust based on how many cards per row */
  margin-bottom: 1rem; /* Space between cards */
}

.card-body {
  background-color: white; /* White background for the cards */
  transition: transform .2s; /* Animation for hover effect */
  color: black; /* Ensure text color is black */
}

.card-body:hover {
  transform: scale(1.05); /* Slight zoom on hover */
}

.display-4 {
  font-size: 2.5rem; /* Adjust font size accordingly */
}

.card-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #e3e6f0;
  color: black; /* Ensure text color is black */
}

.list-group-item {
  border: none;
  border-bottom: 1px solid #e3e6f0;
  color: black; /* Ensure text color is black */
}

.list-group-item:last-child {
  border-bottom: none;
}

.text-danger {
  font-weight: bold;
}

.scrollable-list, .scrollable-products {
  overflow-x: auto;
  white-space: nowrap;
}

.scrollable-list .list-group-item {
  display: flex;
  justify-content: space-between;
}

.card {
  transition: transform .2s; /* Animation for hover effect */
}

.card:hover {
  transform: scale(1.05); /* Slight zoom on hover */
}

.display-4 {
  font-size: 2.5rem;
}

.card-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #e3e6f0;
}

.list-group-item {
  border: none;
  border-bottom: 1px solid #e3e6f0;
}

.list-group-item:last-child {
  border-bottom: none;
}

.text-danger {
  font-weight: bold;
}

@media (max-width: 768px) {
  .dashboard-stats .card {
      width: 100%; /* Full width on smaller screens */
  }
}
