<div class="app-container">
  <div class="sidebar">
    <div class="sidebar">
      <div class="sidebar-heading text-truncate">
        <img src="assets/logo/logo.png" alt="Logo" class="logo">
        <span>Hamro-Pharma</span>
      </div>
      <nav class="nav flex-column">
        <a [routerLink]="['/Dashboard']" routerLinkActive="router-link-active" class="nav-link">
          <i class="fa-solid fa-gauge"></i>
          Dashboard
        </a>
        <a [routerLink]="['/product/product-list']" routerLinkActive="router-link-active" class="nav-link">
          <i class="fa-solid fa-warehouse"></i>
          Products
        </a>
        <a [routerLink]="['/User/userlist']" routerLinkActive="router-link-active" class="nav-link">
          <i class="fa-solid fa-clipboard-user"></i>
          Users
        </a>
        <a [routerLink]="['/vendor/vendor-list']" routerLinkActive="router-link-active" class="nav-link">
          <i class="fa-solid fa-handshake"></i>
          Vendors
        </a>
        <a [routerLink]="['/Customer/customer-list']" routerLinkActive="router-link-active" class="nav-link">
          <i class="fa-solid fa-users"></i>
          Customers
        </a>
        <a [routerLink]="['/purchase']" routerLinkActive="router-link-active" class="nav-link">
          <i class="fa-solid fa-shopping-cart"></i>
          Purchase
        </a>
        <a [routerLink]="['/Order']" routerLinkActive="router-link-active" class="nav-link">
          <i class="fa-solid fa-file-invoice-dollar"></i>
          Orders
        </a>
        <div class="dropdown">
          <a class="nav-link dropdown-toggle" (mouseenter)="toggleReportMenu()" (mouseleave)="toggleReportMenu()">
            <i class="fa-solid fa-chart-line"></i>
            Reports
          </a>
          <div *ngIf="isReportMenuOpen" class="dropdown-menu">
            <a [routerLink]="['/report/purchasereport']" routerLinkActive="router-link-active" class="dropdown-item">Purchase Report</a>
            <a [routerLink]="['/Report/sales-report']" routerLinkActive="router-link-active" class="dropdown-item">Sales Report</a>
          </div>
        </div>
      </nav>
      <div class="logout-footer mt-auto">
        <button (click)="onLogout()" class="btn btn-logout">Logout</button>
      </div>
    </div>    
  </div>
</div>