<div class="sidebar">
  <div class="sidebar-heading">
    <h1>
      <img src="assets\logo\logo.png" alt="Logo" width="40" height="40" class="d-inline-block align-top">
      Hamro-Pharma
    </h1>
  </div>
  <a [routerLink]="['']" routerLinkActive="router-link-active" class="active">
    <i class="fa-solid fa-gauge mr-2"></i>
    Dashboard
  </a>
  <a (click)="toggleProductsMenu()" [class.active]="isProductsMenuOpen">
    <i class="fa-solid fa-warehouse"></i>
    Products
  </a>
  <ul *ngIf="isProductsMenuOpen">
    <li>
      <a [routerLink]="['/products/product-list']" routerLinkActive="router-link-active">Product List</a>
    </li>
  </ul>
  <a [routerLink]="['User/userlist']" routerLinkActive="router-link-active" class="user">
    <i class="fa-solid fa-clipboard-user mr-2"></i>
    User
  </a>

  <div class="logout-footer">
    <button (click)="onLogout()">Logout</button>
  </div>
</div>
