<nav class="navbar navbar-expand navbar-white bg-success px-5">
    <div class="side-nav-button p-2 me-3 text-light">
      <i class="fa-solid fa-bars"></i>
    </div>
    <a class="navbar-brand px-4 d-flex justify-content-end" routerLink="#">Hamro-Pharma</a>
    <div class="d-flex justify-content-end">
      <div class="profile-logo dropstart me-5">
        <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
          Profile
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a href="#" class="dropdown-item">Log Out</a></li>
        </ul>
      </div>
    </div>
  </nav>