<div class="main">
    <div class="container">
        <h1 class="mt-3 pt-5">PRODUCT LIST</h1>
        <div class="d-flex justify-content-end mt-3">
            <a [routerLink]="['/Product/add-Product']" class="btn btn-success"> Add Product</a>
        </div>
        <ng-container *ngIf="productList">
            <table class="table table-bordered mt-3">
                <thead>
                    <tr class="header-row">
                        <th>Name</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Expiry Date</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of productList">
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.expiryDate }}</td>
                        <td><a [routerLink]="['/Product/edit', product.id]" class="btn btn-primary">Edit</a></td>
                        <td><button class="btn btn-danger" (click)="deleteProduct(product.id)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
    </div>    
</div>
