<div class="main">
    <div class="container">
        <h1 class="mt-3 pt-5">CUSTOMER LIST</h1>
        <div class="d-flex justify-content-end mt-3">
            <a [routerLink]="['/Customer/add-customer']" class="btn btn-success">Add Customer</a>
        </div>
        <ng-container *ngIf="customerList">
            <table class="table table-borderless mt-3">
                <thead>
                    <tr class="header-row">
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Balance</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let customer of customerList">
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.email }}</td>
                        <td>{{ customer.phoneNumber}}</td>
                        <td>{{ customer.address }}</td>
                        <td>{{ customer.customerBalance }}</td>
                        <td><a [routerLink]="['/Customer/edit-customer', customer.id]" class="btn btn-primary">Edit</a></td>
                        <td><button class="btn btn-danger" (click)="deleteCustomer(customer.id)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
    </div>
</div>
