<div class="main">
    <div class="container">
        <h1 class="mt-3 pt-5">USER LIST</h1>
        <div class="d-flex justify-content-end mt-3">
            <div *ngIf="!showAddUserForm">
                <button class="btn btn-success" (click)="toggleAddUserForm()">Add User</button>
            </div>
        </div>
        <div class="overlay" *ngIf="showAddUserForm" (click)="toggleAddUserForm()"></div>
        <ng-container *ngIf="showAddUserForm">
            <app-adduser></app-adduser>
        </ng-container>
        <ng-container *ngIf="Userlist">
            <table class="table table-bordered mt-3">
                <thead>
                    <tr class="header-row">
                        <th>Username</th>
                        <th>Email</th>
                        <th>Number</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of Userlist">
                        <td>{{ user.userName }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phoneNumber }}</td>
                        <td>
                            <button class="btn btn-primary" (click)="editUser(user.id)">Edit</button>
                        </td>
                        <td>
                            <button class="btn btn-danger" (click)="deleteUser(user.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
    </div>
</div>
